# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/

# Configuración de IDEs
.vscode/
.idea/

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos generados por PyInstaller
build/
dist/
*.spec

# Cachés de herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Logs
*.log

# Variables de entorno
.envdmg_temp/
*.dmg
